/* Estilos generales para el header */
.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #067f38;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  
  /* Estilos para el logo */
  .App-logo {
    height: 50px; 
    width: auto; 
    border: 1px solid #ffffff;
    border-radius: 10%;
    transition: transform 0.3s ease;
  }
  
  
  /* Estilos para la barra de navegación */
  nav {
    display: flex;
    gap: 1.5rem; 
  }
  
  /* Estilos para los enlaces de navegación */
  nav a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease; 
  }

  nav a:hover {
    color: #000000; 
  }
  

  @media (max-width: 768px) {
    .App-header {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    nav {
      margin-top: 1rem;
      gap: 1rem;
    }
  
    .App-logo {
      margin-bottom: 1rem;
    }
  }