@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.moments-container {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  background-color: #f4f4f4;
  text-align: center; /* Mantenemos text-align: center; para centrar el título */
}

h1 {
  font-size: 2rem;
  color: #5d4037;
  font-weight: 700;
}

.albums-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  max-width: 1200px; /* Añadimos un max-width para el grid */
  margin: 0 auto; /* Añadimos margin: 0 auto; para centrar horizontalmente */
}

.album-card {
  position: relative;
  width: 100%;
  max-width: 340px;
  height: 320px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transform: perspective(800px);
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0 auto; /* Centra el elemento horizontalmente */
}

.album-card:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px,
    rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
}

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  transition: opacity 1.5s ease-out, transform 1s ease-in-out;
}

.card-info {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: white;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info h2 {
  font-family: "Racing Sans One", serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  opacity: 1;
}

.card-info p {
  font-family: "Racing Sans One", serif;
  font-size: 1.5rem;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.album-card:hover .card-info {
  transform: translateY(0);
}

.album-card:hover .card-info p {
  opacity: 1;
}

.album-card:hover .card-bg {
  opacity: 0.8;
}

.sort {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #5d4037;

  /* Nuevos estilos para centrar y alargar */
  justify-content: center; /* Centra los elementos hijos (label, select) en el contenedor flex */
  width: 80%; /* Ancho del contenedor 'sort'. Puedes ajustarlo */
  max-width: 600px; /* Ancho máximo para evitar que se alargue demasiado en pantallas grandes */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */

  border-radius: 8px; /* Opcional: Redondea las esquinas del borde */
}

.sort label {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Aumenta el espacio entre "Sort by:" y el selector */
  font-size: 1.1rem; /* Opcional: Aumenta ligeramente el tamaño de la fuente de la etiqueta */
}

.sort select {
  padding: 10px 16px; /* Aumenta el padding para hacerlo más alto y ancho */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  color: #333;
  background-color: white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 8px; /* Ajusta la posición vertical de la flecha ligeramente */
  padding-right: 30px; /* Aumenta el padding derecho para dar más espacio a la flecha y al texto */
  width: 100%; /* Permite que el select se expanda dentro del contenedor .sort */
  min-width: 150px; /* Ancho mínimo del select para que no se vea demasiado comprimido */
}

.sort select:focus {
  outline: none;
  border-color: #5d4037;
  box-shadow: 0 0 5px rgba(93, 64, 55, 0.5);
}

.sort select::-ms-expand {
  display: none;
}
@media (max-width: 768px) {
  .album-card {
    height: 280px;
  }

  .card-info h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .card-info p {
    font-size: 1.2rem;
  }

  .albums-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
